body{
    border: 1px solid black;
    outline-style: double;
    outline-color: green;
    width:310px;
    height:910px;
    padding-left:4px;
    padding-top:0px;
}
h3{
  font-size: 30px;
  text-align: center;
   margin-top: 10px;
  margin-bottom: 10px;
}
img{
  padding-bottom: 5px;
  border-radius: 10px;
  padding-left: 4px;
}

.letter{
 font-style:italic;
}
.item{
  border-radius: 10px;
  border-style: groove;
  padding-left:4px;
  padding-right:4px;
  width:293px;
}
li{
  font-weight:bold;
  list-style:none;
}